{{#if modoAgregar}}
<form id="formAgregar">
    <!-- campos para agregar -->
</form>
{{/if}}

{{#if modoEditar}}
<form id="formEditar">
    <!-- campos para editar -->
</form>
{{/if}}

{{#if modoEliminar}}
<form id="formEliminar">
    <!-- campos para eliminar -->
</form>
{{/if}}