<div id="contenedorForm"></div>
<div class="ManejoProductos">
    <div class="botoneraManejoProductos">
        <button id="btnAgregar">Agregar producto</button>
        <button id="btnEliminar"> Eliminar producto</button>
        <button id="btnEditar">Editar producto</button>
    </div>
    <div class="VisualManejoProductos">
        {{#each productos}}
        <li>
            <img src="{{this.imgURL}}" alt="{{this.title}}"><strong>{{this.title}}</strong> - ${{this.price}}<br>
        </li>
{{/each}}
    </div>

</div>
<script src="/manejoProductos.js"></script>