<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    {{> navbar}}

    <main>
        {{#if logueado}}
            {{{body}}}
        {{else}}
            <h2 style="text-align:center; margin-top:50px;">Por favor, inicie sesión para acceder a esta página.</h2>
            {{> login}}
            

        {{/if}}


    </main>

    {{> footer}}
</body>

</html>