<h2>Dashboard Administrativo</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolores molestias impedit consequatur optio, tempora nulla dignissimos debitis ipsam quos! Similique ut cupiditate quia harum amet dolorum voluptate, itaque corrupti optio, hic id at eligendi recusandae illum repellendus voluptatibus quaerat asperiores corporis non eaque magnam eius! Consequatur, molestias deleniti officia, eos aperiam delectus iusto sint saepe, totam similique pariatur provident!</p>
<ul>
    <li><a href="/productos">Gestionar Productos</a></li>
    <li><a href="/usuarios">Gestión de Usuarios</a></li>
</ul>