<h1>Bienvenido a la tienda</h1>

<p>Explora nuestros productos!</p>

<a href="/productos">Ver productos</a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto blanditiis praesentium veritatis ducimus. Dolores ducimus, accusamus asperiores, esse culpa maxime quidem non voluptatum, ratione rem eius optio odio cum quo!</p>