<h1>Bienvenido a la tienda</h1>

<p>Explora nuestros productos!</p>

<h2>Productos</h2>

<ul>
{{#each productos}}
    <li>
        <img src="{{this.imgURL}}" alt="{{this.nombre}}"><strong>{{this.nombre}}</strong> - ${{this.precio}}<br>
    </li>
{{/each}}
</ul>