<h1>Bienvenido a la tienda</h1>

<p>Explora nuestros productos!</p>

<h2>Productos</h2>

<ul>
{{#each productos}}
    <li>
        <img src="{{this.imgURL}}" alt="{{this.title}}"><strong>{{this.title}}</strong> - ${{this.price}}<br>
    </li>
{{/each}}
</ul>