<h1>Bienvenido a la tienda</h1>

<p>Explora nuestros productos!</p>

<h2>Productos</h2>

<ul>
{{#each productos}}
    <li>
        <img src="{{this.imagenUrl}}" alt="{{this.nombre}}">
        <strong>{{this.nombre}}</strong>
        <div class="comprarProducto">
            ${{this.precio}}
            <button>Comprar</button>
        </div>
    </li>
{{/each}}
</ul>